.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: #222;
  color: white;
}

.header button {
  background-color: #ff4d4d;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
.header button:hover {
  background-color: #d90000;
}
